body{
    background-color: white ;
}

.navbar{
     background-color: #2E2E2E;
     margin-top: -22px;
}
.navtitle{
    font-weight: bold;
    font-size: 23px;
    margin-top: 28px;
    margin-left: 30px;
    color: white;
}
.item{
    color: white;
    text-decoration: none;  
    margin-left: 40px;
    padding: 5px;
}

.nav-item{
    margin-top: 17px;
}
.fa-book-open{
    margin-left: 10px;
    margin-top: 20px;
    color: white;
}
.imgpresentacion{
    width: 900px;
    height: 400px;
    margin-left: 300px;
    margin-top: 50px;
}
.cajaimg{
   background-color: #FAFAD2; 
}
.linea{
    width: 1540px;
    height: 2px;
    background-color: rgb(28, 17, 1);

}
.info{
   margin-top: 130px;
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
}
.cajainfo{
    background-color: white;
    margin-top: -280px;
    margin-left: 500px;
}
.dato{
    display: flex;
    gap: 5px;
}
.negrita{
    font-weight: bolder;
}
.linea2{
    width: 2px;
    height: 300px;
    background-color: rgb(28, 17, 1);
    margin-left: 400px;
    margin-top: -150px;
}
.cajacolorcurso{
   background-color: #FAFAD2; 
   height: 550px;
   padding: 5px;
 }
 .curso{
   margin-top: 30px;
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
}
.comp{
   margin-top: 20px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bolder;
 }
 .cajacomp{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 800px;
    padding: 10px;
    
}

.imgcurso{
    margin-left: 850px;
    margin-top: -300px;
}
.indicador{
    margin-top: -40px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.link{
    color: rgb(28, 17, 1);
    position: relative;
    background: #acac82;;
    border-radius: 60px;
    box-shadow: 0 15px 35px #a5a58a;
    border: 0.5px solid #ccc;
    margin-left: 40px;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 300px;
}
.footer{
     color: rgb(28, 17, 1);
     margin-top: 20px;
     margin-left: 20px;
}
.cajacolor{
   background-color: #FAFAD2; 
   height: 1050px;
   padding: 5px;
}
.cajaimgproyect{
    width: 600px;
    margin-left: -10px;
    margin-top: 20px;  
}
.imgproyect{
    height: 300px;
    
}
.img2p{
    height: 250px;
    margin-left: 800px;
    margin-top: -320px; 
}
.cajavideo{
    margin-left: 800px;
    margin-top: -850px;
}
.video{
    width: 600px;
}
.footerproyecto{
    margin-top: 550px;
    color: rgb(28, 17, 1);
    margin-left: 20px;
}
.cajacolorconta{
   background-color: #FAFAD2; 
   height: 900px;
   padding: 5px;
   }
   .cajaimgproyectconta{
    width: 600px;
    margin-left: -10px;
    margin-top: 30px;  
}
.cajavideoconta{
    margin-left: 800px;
    margin-top: -750px;
}
.footerproyectoconta{
    margin-top: 20px;
    color: rgb(28, 17, 1);
    margin-left: 20px;
}
.navtitlem{
    font-weight: bold;
    font-size: 23px;
    margin-top: 5px;
    margin-left: 30px;
    color: white;
}
.itemm{
    color: white;
    text-decoration: none;  
    margin-left: 40px;
    padding: 5px;
}

.nav-itemm{
    margin-top: -8px;
}
.libro{
    margin-left: 1px;
    margin-top: -25px;
    color: white;
}
.img2pmetodologia{
    height: 350px;
    margin-left: 800px;
    margin-top: -300px;
    
}
.footerproyectometodologia{
    margin-top: 20px;
    color: rgb(28, 17, 1);
    margin-left: 20px;
}
.footerproyectologica{
    margin-top: 20px;
    color: rgb(28, 17, 1);
    margin-left: 20px;
}
.cajacolorintro{
   background-color: #FAFAD2; 
   height: 1110px;
   padding: 5px;
   }
.linksintro{
    margin-top: -280px;
    display: flex; gap:5px;
    width: 1000px;
    margin-left: 5px;
}
.cajavideo1{
    margin-left: 800px;
    margin-top: -880px;
}
.footerproyecto1{
    margin-top: 30px;
    color: rgb(28, 17, 1);
    margin-left: 20px;
}